th {
    font-size: 13px;
    font-weight: normal;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid white;
    color: #039;
    padding: 8px;
}
td {
    background: #e8edff;
    border-bottom: 1px solid white;
    color: #669;
    border-top: 1px solid transparent;
    padding: 8px;
}
tr:hover td {
    background: #ccddff;
}

h1 {
    position: relative;
    padding-bottom: .5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #2d62bf;
}

h1::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #2d62bf;
    bottom: 0;
    left: 50%;
    width: 15%;
    transform: translateX(-50%);
}